@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#D9C6B0;
    color: #333;
    height: 100%;
}

header {

    background-color: #D9C6B0;
    color: #000000;
    padding: 10px 0;
    text-align: center;
    
}

header h1 {
    margin: 0;
    font-family: "poppins";
    font-weight: 400;
   
}

nav ul {
    list-style: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    transition: font-size 0.3s ease, color 0.3s ease; /* Efeito suave */
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

nav ul li a:hover {
    font-size: 22px; /* Aumenta o tamanho ao passar o mouse */
    color: #554034; /* Muda a cor ao passar o mouse */
}

main {
    min-height: 100vh;
    
}




.services {
    /* display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; */
    display: grid;
    gap: 1rem;
    place-items: center;
    width: 100%;
    height: fit-content;
}

.service-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    min-width: 300px;
    height: 400px;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    /* background: var(--bg-color2); */
    border-radius: 2rem;
    margin: 1%;
    text-align: center;
    justify-content: center;
    
}

.service-item img {
    max-width: 100%;
    border-radius: 10px;
}

.service-item h3 {
    margin: 15px 0 10px;
}

.service-item p {
    font-size: 14px;
    color: #666;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin-top: 10px;
}

.contact form input, .contact form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    background-color:#D2B48C;
    color: white;
    padding: 20px;
    text-align: center;
}
footer a {
    color: #ff6f61;
    text-decoration: none;
}
footer .social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: white;
}
footer .social-icons a:hover {
    color: #ff6f61; /* Cor ao passar o mouse */
    transition: color 0.3 ease;
}

.imginicial img {
    width: 100%; /* Define a largura desejada */
    height: 700%; /* Mantém a proporção da imagem */
    display: block; /* Remove espaços extras abaixo da imagem */
    margin: 0 auto; /* Centraliza a imagem */
    object-fit: cover;
    
}